body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #333333;
}

h1 {
  color: #019000;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.2em;
}

h2 {
  color: #34495e;
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  color: #465d71;
  font-size: 1.5em;
  margin-top: 1.2em;
}

p {
  margin-bottom: 1.5em;
  text-align: justify;
}